@import url('https://fonts.googleapis.com/css2?family=Forum&family=Fraunces:opsz,wght@9..144,600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Serif+Display:ital@1&family=Dancing+Script:wght@700&family=Gloock&family=Lobster&family=Source+Code+Pro:wght@600&display=swap');

.ski_p {
    background-color: white;
    font-family: 'Source Code Pro', monospace;
    color: darkblue;
    margin: 15px 20px;
    text-align: center;
    font-size: 2.3vw;
}


.card {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #aaaa;
    color: darkblue;
    height: 28vh;
    width: 30vh;
    background-color: #FDF8F0;
    margin: 20px 30px;
    border-radius: 35px;
}

.card-img-top {
    margin: 10px 28px;
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    height: 135px;
    width: 135px;
}

.card-body {
    border-radius: 20px;
    font-size: 25px;
    background-color: #FDF8F0;
}

.card-title {
    margin-bottom: 8px;
    font-size: 3vh;
    font-weight: bolder;
    color: darkblue;
}


.ski2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: darkblue;
    width: 100%;
    font-size: 45px;
    justify-content: center;
    font-family: 'Fraunces', serif;
    background-image: url(w_bg5.jpg);
    background-attachment: inherit;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.ski {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: darkblue;
    width: 100%;
    font-size: 45px;
    justify-content: center;
    font-family: 'Fraunces', serif;
    background-image: url(w_bg5.jpg);
    background-attachment: inherit;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}